.card {
    margin-bottom: 10px;
    position: relative;
 
    &__content{
        background-color: white;
        padding: 20px;
        text-align: left;
        & p{
            padding-bottom: 10px;
        }
        &__info{
            display: flex;
            padding: 3px 0;

            & span{
                padding-left: 8px;
            }
        }
    }

    & .hover{
        position: absolute;
        background-color: rgb(14, 14, 14);
        opacity: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.3s;

        &:hover{
            opacity: 0.90;
        }
       & span{
         color: white;
           opacity: 1;
           font-weight: 800;
       }
        
    }
   

}

img{
    padding: 0;
    margin: 0;
    
}



