.event-screen{
  display: flex;
 color: rgb(243, 243, 243);
    background-color: rgb(19, 19, 19);

    &__totals{
      padding: 20px;
      
      &__main{
        font-weight: 500;
      }

       & span{
        font-size: .8rem;
      }
    }

    &__content{
      flex: 5;

      

      &__info{
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0;
        font-weight: 500;

          & svg{
            margin-right: 10px;
          }
          &__item{
            display: flex;
            align-items: center;
          }

        
      }

      &__line{
        display: flex;
        align-items: center;
        justify-content: left;
        padding-bottom: 10px;
        

        &__country{
          padding-right: 5px;
        }
      }
      
      

      &__img{

      }
      &__text{
        padding: 20px 100px;
        & p{
          padding: 20px 0;
          
        }
        & .title{
          font-size: 2.5rem;
          font-weight: 800;
        }
      }
    }

    &__tickets{
      flex: 2;
      position: relative;
     top: 0px;
   width: 340px;
      height: 70vh;
      background: rgb(227, 227, 227);
      //background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(241,241,241,1) 78%, rgba(235,235,235,1) 100%);
      color: rgb(0, 0, 0);
      -webkit-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.45); 
      box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.45);
      transition: all 0.2s;
     
      &__title{
        font-size: 1.1rem;
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      font-weight: 500;
      padding: 10px;
      text-align: center;
      margin-bottom: 20px;
      border: rgb(0, 0, 0) solid 2px;
      //border-radius: 10px 10px 0 0;
      }

   
     
    }

&__content{

  & h1{
  
   padding: 20px 0;
    
  }
}
&__button{
  background-color: rgb(34, 187, 42);
 /*  background-image: linear-gradient(to right, #008cff,  #a31b9c,  #fffb09);
  -webkit-box-shadow: 0px 0px 11px 4px #000000;  */
  border-radius: 10px;
  margin: 0 20px;


  color: white;
  padding: 10px;
  cursor: pointer;
 

  & span{
    padding: 0 10px;
    font-weight: 500;
  }

  &:hover{
    background-color: rgba(34, 187, 42, 0.856);
  }
}
}

.tickets-ghost{
  flex: 2;
    
}