.navbar {
  &__user-console {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    padding: 15px 0 15px 0;

    position: relative;
    background-image: linear-gradient(rgb(58, 58, 58), rgb(0, 0, 0));
    z-index: 99;

    &__text {
      color: rgba(255, 255, 255, 0.671);
      display: flex;
      align-items: center;

      & svg {
        position: relative;
        left: -50px;
        top: 30px;
        color: rgba(255, 255, 255, 0.9);
        transition: transform 1s;
      }

      & img {
        border-radius: 50px;
        border: rgba(255, 255, 255, 0.9) 3px solid;
        margin: 0 40px;
      }
    }

    &__img img {
      border-radius: 50px;
      border: rgba(255, 255, 255, 0.9) 3px solid;
      margin: 0 40px;
    }

    &__img span {
      position: relative;
      left: -50px;
      top: 10px;
      color: rgba(255, 255, 255, 0.9);
    }
  }
}
