.panel{

    display: flex;
    flex-direction: row;
    
   
    padding: 25px 0;

    &__menu{
        color: white;
        background-color: black;
        flex: 1;

        & ul li{
            padding: 15px 20px;
            cursor: pointer;
             &:hover{
                background-color: rgb(49, 49, 49); 
             }
        }
    }

    &__content{
        flex: 3;
        background-color: white;
        
    }
}



   
   
   
