.ticket{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    font-size: .8rem;
    border-bottom: 1px solid rgba(56, 56, 56, 0.281);
    margin: 0 10px;
    

    &__price{
        & span{
            font-size: 0.6rem;
        }
    }



 
   

    & svg{
        
        & path{
            fill: rgb(0, 0, 0);
        }
        
    }
    &__title{
       
   
     
    
    
    }
    &__value{
      
       
        & svg{
           cursor: pointer; 
        }

        & span{
        padding: 0 5px;
        font-size: 1.2rem;
        
        position: relative;
        top: -4px;
       
    
        }
    }
}

